# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Jetbrains IDE configuration files
.idea
.vs/amass-develop/FileContentIndex/abdf182c-6651-4e60-9c4b-ef8161d6203d.vsidx
.vs/amass-develop/FileContentIndex/bc819c4f-209d-453a-9d1f-ca6e8755ce31.vsidx
.vs/amass-develop/v17/.wsuo
.vs/amass-develop/v17/DocumentLayout.backup.json
.vs/amass-develop/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/amass-develop/FileContentIndex/7a93ce14-30be-4ff4-8d1b-6221407b3140.vsidx
.vs/amass-develop/FileContentIndex/32a1865c-f5ed-460f-8c4c-b37941421cf8.vsidx
.vs/amass-develop/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/amass-develop/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/amass-develop/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/amass-develop/CopilotIndices/17.12.38.29086/CodeChunks.db
